# How to Handle Missing Values
1. Delete
2. Assign Value (Median,mode)
3. Predict (Statistics)

### !!! Important
## Randomness of missing data should be taken into account

- If missing values are random we can do whatever we want
- If missing values not random and caused by a different variable , structural problems we should fix structual problems and be careful with missing values

In [15]:
from  module import load_dataset
import numpy as np 
import pandas as pd
import missingno as msno
from datetime import date

In [16]:
# Pandas View Options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x:'%.3f' % x)
pd.set_option('display.width', 500)

In [2]:
df = load_dataset()

### Lecture 1
### Catching Missing Values

In [3]:
# Is there any null values
df.isnull().values.any()

True

In [4]:
# Number of null values for each column
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [12]:
df.isnull().sum().sort_values(ascending=False)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64

In [17]:
# Null value percentage
(df.isnull().sum() / df.shape[0] * 100).sort_values(ascending=False)

Cabin         77.104
Age           19.865
Embarked       0.224
PassengerId    0.000
Survived       0.000
Pclass         0.000
Name           0.000
Sex            0.000
SibSp          0.000
Parch          0.000
Ticket         0.000
Fare           0.000
dtype: float64

In [5]:
# Number of not null values for each column
df.notnull().sum()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [7]:
# Total number of null values
df.isnull().sum().sum()

866

In [21]:
# Rows that at least have one null value
# 708 rows some rows have more than one null value
print(df[df.isnull().any(axis=1)].head())
print(len(df[df.isnull().any(axis=1)]))

   PassengerId  Survived  Pclass                            Name     Sex    Age  SibSp  Parch            Ticket   Fare Cabin Embarked
0            1         0       3         Braund, Mr. Owen Harris    male 22.000      1      0         A/5 21171  7.250   NaN        S
2            3         1       3          Heikkinen, Miss. Laina  female 26.000      0      0  STON/O2. 3101282  7.925   NaN        S
4            5         0       3        Allen, Mr. William Henry    male 35.000      0      0            373450  8.050   NaN        S
5            6         0       3                Moran, Mr. James    male    NaN      0      0            330877  8.458   NaN        Q
7            8         0       3  Palsson, Master. Gosta Leonard    male  2.000      3      1            349909 21.075   NaN        S
708

In [22]:
# Without null values
df[df.notnull().all(axis=1)].info()

<class 'pandas.core.frame.DataFrame'>
Index: 183 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    int64
 1   Survived     183 non-null    int64
 2   Pclass       183 non-null    int64
 3   Name         183 non-null    object
 4   Sex          183 non-null    object
 5   Age          183 non-null    float64
 6   SibSp        183 non-null    int64
 7   Parch        183 non-null    int64
 8   Ticket       183 non-null    object
 9   Fare         183 non-null    float64
 10  Cabin        183 non-null    object
 11  Embarked     183 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.6+ KB

In [24]:
# get the columns has null values
na_cols = [col for col in df.columns if df[col].isnull().sum()>0]

In [25]:
na_cols

['Age', 'Cabin', 'Embarked']

In [28]:
# getting the info about missing values which column, how many, ratio
# if you want return na cols
def missing_values_table(df, na_name=False):
    # get cols have null values
    na_cols = [col for col in df.columns if df[col].isnull().sum()>0]
    # get the number of null values
    n_miss = df[na_cols].isnull().sum().sort_values(ascending=False)
    # get the ratio of the null values
    ratio = (df[na_cols].isnull().sum() / df.shape[0] * 100).sort_values(ascending=False)
    # merge all data on a dataframe
    missing_df = pd.concat([n_miss, np.round(ratio, 2)], axis=1, keys=['n_miss', 'ratio'])
    print(missing_df, end ='\n')
    # return na cols if wanted
    if na_name:
        return na_cols

In [31]:
missing_values_table(df, True)

          n_miss  ratio
Cabin        687 77.100
Age          177 19.870
Embarked       2  0.220

['Age', 'Cabin', 'Embarked']

### Lecture 2
### Solving Missing Value Problem

- It is more sensitive in linear methods and gradient descent based methods
- If we use tree based methods like in outliers missing values can be ignored
- Because different from the linear methods or optimization methods like gradient descent tree methods more flexible and branching out, the outliers and missing values has almost no effect.Can be ignored.
- One exception regression and because of dependent variable is numerical, may take longer to reach a conclusion, If gradient descent based optimization used with a tree method because of outliers in dependent variable optimizaton can take longer

In [33]:
## 1.Delete
# This path can be choosen when there are many observations 
df.dropna().isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [34]:
## 2. Filing with simple methods
# You can fill it with mean, median, or a fixed number
df['Age'].fillna(df['Age'].mean()).isnull().sum()
df['Age'].fillna(df['Age'].median()).isnull().sum()
df['Age'].fillna(0).isnull().sum()

0

In [35]:
# Filling with mean in numerical cols
df_fill_with_mean = df.apply(lambda x:x.fillna(x.mean()) if x.dtype != 'O' else x, axis = 0)

In [36]:
df_fill_with_mean.head()

   PassengerId  Survived  Pclass                                               Name     Sex    Age  SibSp  Parch            Ticket   Fare Cabin Embarked
0            1         0       3                            Braund, Mr. Owen Harris    male 22.000      1      0         A/5 21171  7.250   NaN        S
1            2         1       1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female 38.000      1      0          PC 17599 71.283   C85        C
2            3         1       3                             Heikkinen, Miss. Laina  female 26.000      0      0  STON/O2. 3101282  7.925   NaN        S
3            4         1       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female 35.000      1      0            113803 53.100  C123        S
4            5         0       3                           Allen, Mr. William Henry    male 35.000      0      0            373450  8.050   NaN        S

In [37]:
def is_null(df):
    return df.isnull().sum().sort_values(ascending=False)

In [38]:
# Categorical cols is still null
is_null(df_fill_with_mean)

Cabin          687
Embarked         2
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64

- For filling categorical values the most suitable way is mode

In [41]:
df['Embarked'].mode()[0]

'S'

In [44]:
df['Embarked'].fillna(df['Embarked'].mode()[0]).isnull().sum()

0

In [45]:
# For analyzing later you can fill with string
df['Embarked'].fillna("missing")

0            S
1            C
2            S
3            S
4            S
5            Q
6            S
7            S
8            S
9            C
10           S
11           S
12           S
13           S
14           S
15           S
16           Q
17           S
18           S
19           C
20           S
21           S
22           Q
23           S
24           S
25           S
26           C
27           S
28           Q
29           S
30           C
31           C
32           Q
33           S
34           C
35           S
36           C
37           S
38           S
39           C
40           S
41           S
42           C
43           C
44           Q
45           S
46           Q
47           Q
48           C
49           S
50           S
51           S
52           C
53           S
54           C
55           S
56           S
57           C
58           S
59           S
60           C
61     missing
62           S
63           S
64           C
65           C
66           S
67           S
68           S
69           S
70           S
71           S
72           S
73           C
74           S
75           S
76           S
77           S
78           S
79           S
80           S
81           S
82           Q
83           S
84           S
85           S
86           S
87           S
88           S
89           S
90           S
91           S
92           S
93           S
94           S
95           S
96           C
97           C
98           S
99           S
100          S
101          S
102          S
103          S
104          S
105          S
106          S
107          S
108          S
109          Q
110          S
111          C
112          S
113          S
114          C
115          S
116          Q
117          S
118          C
119          S
120          S
121          S
122          C
123          S
124          S
125          C
126          Q
127          S
128          C
129          S
130          C
131          S
132          S
133          S
134          S
135          C
136          S
137          S
138          S
139          C
140          C
141          S
142          S
143          Q
144          S
145          S
146          S
147          S
148          S
149          S
150          S
151          S
152          S
153          S
154          S
155          C
156          Q
157          S
158          S
159          S
160          S
161          S
162          S
163          S
164          S
165          S
166          S
167          S
168          S
169          S
170          S
171          Q
172          S
173          S
174          C
175          S
176          S
177          C
178          S
179          S
180          S
181          C
182          S
183          S
184          S
185          S
186          Q
187          S
188          Q
189          S
190          S
191          S
192          S
193          S
194          C
195          C
196          Q
197          S
198          Q
199          S
200          S
201          S
202          S
203          C
204          S
205          S
206          S
207          C
208          Q
209          C
210          S
211          S
212          S
213          S
214          Q
215          C
216          S
217          S
218          C
219          S
220          S
221          S
222          S
223          S
224          S
225          S
226          S
227          S
228          S
229          S
230          S
231          S
232          S
233          S
234          S
235          S
236          S
237          S
238          S
239          S
240          C
241          Q
242          S
243          S
244          C
245          Q
246          S
247          S
248          S
249          S
250          S
251          S
252          S
253          S
254          S
255          C
256          C
257          S
258          C
259          S
260          Q
261          S
262          S
263          S
264          Q
265          S
266          S
267          S
268          S
269          S
270          S
271          S
272          S
273          C
274          Q
275          S
276          S
277          S
278          Q
279          S
280          Q
281          S
282          S
283          S
284          S
285          C
286          S
287          S
288          S
289          Q
290          S
291          C
292          C
293          S
294          S
295          C
296          C
297          S
298          S
299          C
300          Q
301          Q
302          S
303          Q
304          S
305          S
306          C
307          C
308          C
309          C
310          C
311          C
312          S
313          S
314          S
315          S
316          S
317          S
318          S
319          C
320          S
321          S
322          Q
323          S
324          S
325          C
326          S
327          S
328          S
329          C
330          Q
331          S
332          S
333          S
334          S
335          S
336          S
337          C
338          S
339          S
340          S
341          S
342          S
343          S
344          S
345          S
346          S
347          S
348          S
349          S
350          S
351          S
352          C
353          S
354          C
355          S
356          S
357          S
358          Q
359          Q
360          S
361          C
362          C
363          S
364          Q
365          S
366          C
367          C
368          Q
369          C
370          C
371          S
372          S
373          C
374          S
375          C
376          S
377          C
378          C
379          S
380          C
381          C
382          S
383          S
384          S
385          S
386          S
387          S
388          Q
389          C
390          S
391          S
392          S
393          C
394          S
395          S
396          S
397          S
398          S
399          S
400          S
401          S
402          S
403          S
404          S
405          S
406          S
407          S
408          S
409          S
410          S
411          Q
412          Q
413          S
414          S
415          S
416          S
417          S
418          S
419          S
420          C
421          Q
422          S
423          S
424          S
425          S
426          S
427          S
428          Q
429          S
430          S
431          S
432          S
433          S
434          S
435          S
436          S
437          S
438          S
439          S
440          S
441          S
442          S
443          S
444          S
445          S
446          S
447          S
448          C
449          S
450          S
451          S
452          C
453          C
454          S
455          C
456          S
457          S
458          S
459          Q
460          S
461          S
462          S
463          S
464          S
465          S
466          S
467          S
468          Q
469          C
470          S
471          S
472          S
473          C
474          S
475          S
476          S
477          S
478          S
479          S
480          S
481          S
482          S
483          S
484          C
485          S
486          S
487          C
488          S
489          S
490          S
491          S
492          S
493          C
494          S
495          C
496          C
497          S
498          S
499          S
500          S
501          Q
502          Q
503          S
504          S
505          C
506          S
507          S
508          S
509          S
510          Q
511          S
512          S
513          C
514          S
515          S
516          S
517          Q
518          S
519          S
520          S
521          S
522          C
523          C
524          C
525          Q
526          S
527          S
528          S
529          S
530          S
531          C
532          C
533          C
534          S
535          S
536          S
537          C
538          S
539          C
540          S
541          S
542          S
543          S
544          C
545          S
546          S
547          C
548          S
549          S
550          C
551          S
552          Q
553          C
554          S
555          S
556          C
557          C
558          S
559          S
560          Q
561          S
562          S
563          S
564          S
565          S
566          S
567          S
568          C
569          S
570          S
571          S
572          S
573          Q
574          S
575          S
576          S
577          S
578          C
579          S
580          S
581          C
582          S
583          C
584          C
585          S
586          S
587          C
588          S
589          S
590          S
591          C
592          S
593          Q
594          S
595          S
596          S
597          S
598          C
599          C
600          S
601          S
602          S
603          S
604          C
605          S
606          S
607          S
608          C
609          S
610          S
611          S
612          Q
613          Q
614          S
615          S
616          S
617          S
618          S
619          S
620          C
621          S
622          C
623          S
624          S
625          S
626          Q
627          S
628          S
629          Q
630          S
631          S
632          C
633          S
634          S
635          S
636          S
637          S
638          S
639          S
640          S
641          C
642          S
643          S
644          C
645          C
646          S
647          C
648          S
649          S
650          S
651          S
652          S
653          Q
654          Q
655          S
656          S
657          Q
658          S
659          C
660          S
661          C
662          S
663          S
664          S
665          S
666          S
667          S
668          S
669          S
670          S
671          S
672          S
673          S
674          S
675          S
676          S
677          S
678          S
679          C
680          Q
681          C
682          S
683          S
684          S
685          C
686          S
687          S
688          S
689          S
690          S
691          C
692          S
693          C
694          S
695          S
696          S
697          Q
698          C
699          S
700          C
701          S
702          C
703          Q
704          S
705          S
706          S
707          S
708          S
709          C
710          C
711          S
712          S
713          S
714          S
715          S
716          C
717          S
718          Q
719          S
720          S
721          S
722          S
723          S
724          S
725          S
726          S
727          Q
728          S
729          S
730          S
731          C
732          S
733          S
734          S
735          S
736          S
737          C
738          S
739          S
740          S
741          S
742          C
743          S
744          S
745          S
746          S
747          S
748          S
749          Q
750          S
751          S
752          S
753          S
754          S
755          S
756          S
757          S
758          S
759          S
760          S
761          S
762          C
763          S
764          S
765          S
766          C
767          Q
768          Q
769          S
770          S
771          S
772          S
773          C
774          S
775          S
776          Q
777          S
778          Q
779          S
780          C
781          S
782          S
783          S
784          S
785          S
786          S
787          Q
788          S
789          C
790          Q
791          S
792          S
793          C
794          S
795          S
796          S
797          S
798          C
799          S
800          S
801          S
802          S
803          C
804          S
805          S
806          S
807          S
808          S
809          S
810          S
811          S
812          S
813          S
814          S
815          S
816          S
817          C
818          S
819          S
820          S
821          S
822          S
823          S
824          S
825          Q
826          S
827          C
828          Q
829    missing
830          C
831          S
832          C
833          S
834          S
835          C
836          S
837          S
838          S
839          C
840          S
841          S
842          C
843          C
844          S
845          S
846          S
847          C
848          S
849          C
850          S
851          S
852          C
853          S
854          S
855          S
856          S
857          S
858          C
859          C
860          S
861          S
862          S
863          S
864          S
865          S
866          C
867          S
868          S
869          S
870          S
871          S
872          S
873          S
874          C
875          C
876          S
877          S
878          S
879          C
880          S
881          S
882          S
883          S
884          S
885          Q
886          S
887          S
888          S
889          C
890          Q
Name: Embarked, dtype: object

In [49]:
# Filling categorical cols
# If has more than 10(optional) class it is not categorical but cardinal 
df.apply(lambda x:x.fillna(x.mode()[0]) if(x.dtype == 'O' and len(x.unique())<= 10 ) else x, axis = 0) .isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:
# Cabin is different. Is the missing values relly missing or has a pattern 
# We don't know
# We filled acceptable categorical variable

- How to fill numerical variables more sensetivly?